

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*------------Main code - INDEX ---------------*/

.container-fluid
{
    height: 802px;
    width: 100%;
    overflow: hidden;
    /* background-color: red; */
}

header
{
    display: flex;
	justify-content: space-between;
    align-items: center;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);	
    height: 150px;
    width: 100%;
    background: linear-gradient(rgba(20,30,48,0.8), rgba(36,59,85,0.8));
}

section
{
    height:550px;
    width: 100%;
    background-color: grey;
}

footer
{
    height:102px;
    width: 100%;
    background: linear-gradient(#141e30, #243b55);
}


.logo img
{
    height:20%;
    width: 25%;
    margin-left: 2.3em;
    max-width: 100%;
    padding-left: 50px;
}
li a
{
    color: white;
    /* text-decoration: none; */
}

nav ul {
	display: flex;
    flex-flow: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: .5s;
    list-style-type: none;
}

nav li
{
    padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #262625;
	font-weight: bold;
    transition: .5s;
    word-spacing: 20px;
}

nav li a:hover
{
    background: #000;
	color: #fff;
    transition: .5s
}



.col-sm-10
{
    height: 350px;
    width: 550px;
    /* background-color: rgba(3,0,2,0.6); */
    margin: 90px auto;
    color: white;
}


/*------------login css---------*/

.login_section
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
.log_img
{
    

    width: 400px;
    /* height:320px; */
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin: 120px auto;
}
.log_img .login
{
    position: relative;
}

.log_img .login input
{
    width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.log_img .login label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.log_img .login input:focus ~ label,
.log_img .login input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.log_img form .btn {
    position: relative;
    display: inline-block;
    padding: 0px 0px;
    overflow: hidden;
    
    transition: .5s;
    /* letter-spacing: 4px */
  }

.log_img form .btn input
{
    padding: 10px 10px;
    font-size: 16px;
    color:#03e9f4;
    transition: .5s;
    letter-spacing: 4px;
    border: none;
    background-color: rgba(0,0,0,0);
}

.log_img .btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
.log_img .btn input:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}


.log_img .btn span
{
    position: absolute;
    display: block;
}

.log_img .btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  .log_img .btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  } 
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .log_img .btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .log_img .btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }


/*--------csss for books list--------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.book_section
{
    /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4); */
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.booklist
{
    /* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4); */
    font-family: 'Roboto', sans-serif;
    width: 700px;
    margin: 0px auto;
    /* background: linear-gradient(#141e30, #243b55); */
}
.inbooklist
{
    margin: 50px;
}

.booklist h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.inbooklist table{
    width:100%;
    table-layout: fixed;
}

.tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }

 .inbooklist th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
 .inbooklist td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }

  /* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}



/*-----------define author list-----------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
.author_section
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
.authorlist
{
    font-family: 'Roboto', sans-serif;
    width: 700px;
    margin: 0px auto;
}
.authorlist h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}


/*-----------book-detail----------*/

.bookcontent
{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    display: table;
}
.tbl-content1
{
    width: 30%;
    display: table-cell;
}

.tbl-content2
{
    display: table-cell;
    width: 50%;
    padding-left: 50px;
    padding-right: 20px;
}

.action-detail
{
    margin-top: 10px;
}


