{% extends "base_generic.html" %}

{% block content %}
  <p><strong>Name:</strong> {{ author.last_name }} {{ " " }} {{author.first_name}}</p>
  <p><strong>DOB:</strong> {{ author.date_of_birth }}</p>
  <p><strong>DOD:</strong> {{ author.date_of_death }}</p>
  <p><strong>Featured Works:</strong> {{ author.featured_works }}</p>
  <div><a href="{% url 'author-update' author.id %}">Update</a></div>
  <div><a href="{% url 'author-create' %}">New Author</a></div>
  <div><a href="{% url 'author-delete' author.id %}">Delete author</a></div>
{% endblock %}